main {
    text-align: center;
}

main > form {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 5%;
    margin-top: 50px;
}

main > form > h2 {
    margin-top: 0;
    margin-bottom: 20px;
}

main > form > input {
    color: var(--primary-color);
    width: 95%;
    border: 1px solid rgb(215, 215, 215);
    border-radius: 20px;
    height: 35px;
    padding: 0 2.5%;
    margin-bottom: 10px;
    font-size: 14px;
}

main > form > button[type="submit"] {
    width: 20%;
    height: 30px;
    border: 0;
    border-radius: 20px;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}