<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <h1>Home</h1>
    <p>Benvenuto nel catalogo prodotti!<br>Ecco tutti i nostri prodotti disponibili:</p>
    <ul th:each="prodotto : ${prodotti}">
        <a th:href="@{'/prodotti/' + ${prodotto.id}}">
            <li th:text="${prodotto.nome}">Dettagli</li>
        </a>
    </ul>
</body>
</html>