<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Home</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded"/>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/home.css">
	<script src="/js/sidebar.js" defer></script>
</head>
<body>
	<header>
		<span class="material-symbols-rounded" onclick="toggleSidebar()">dehaze</span>
		<h1><a href="/">Catalogo Prodotti</a></h1>
	</header>
	<!-- Sidebar primaria -->
	<div id="sidebar" class="sidebar">
		<a href="javascript:void(0)" class="closebtn" onclick="toggleSidebar()"><span class="material-symbols-rounded">close</span></a>
		<p>Naviga per:</p>
		<div class="sidebar-item" data-submenu="tipologie">Tipologia <span class="material-symbols-rounded">chevron_right</span></div>
		<div class="sidebar-item" data-submenu="marche">Marca <span class="material-symbols-rounded">chevron_right</span></div>
		<div class="sidebar-item" data-submenu="anni">Anno <span class="material-symbols-rounded">chevron_right</span></div>
		<div class="sidebar-item"><a th:href="@{/catalogo}" style="padding: 0;">Tutti i prodotti</a></div>
		<div class="sidebar-item">
			<form th:action="@{/logout}" method="post">
				<button type="submit">Esci</button>
			</form>
		</div>
	</div>
	<!-- Sidebar secondaria -->
	<div id="sidebar-secondary" class="sidebar sidebar-secondary" aria-hidden="true">
		<div class="secondary-inner">
			<!-- Tipologie -->
			<div class="submenu" id="submenu-tipologie">
				<a th:each="tip : ${tipologie}" th:href="@{'/tipologia/' + ${tip.toLowerCase()}}" th:text="${tip.toLowerCase() == 'tv' ? tip.toUpperCase() : #strings.capitalizeWords(tip.toLowerCase())}">Tipologia</a>
			</div>
			<!-- Marche -->
			<div class="submenu" id="submenu-marche">
				<a th:each="marca : ${marche}" th:href="@{'/marca/' + ${marca.toLowerCase()}}" th:text="${marca.toLowerCase() == 'hp' || marca.toLowerCase() == 'lg' || marca.toLowerCase() == 'tcl' ? marca.toUpperCase() : #strings.capitalizeWords(marca.toLowerCase())}">Marca</a>
			</div>
			<!-- Anni -->
			<div class="submenu" id="submenu-anni">
				<a th:each="anno : ${anni}" th:href="@{'/anno/' + ${anno}}" th:text="${anno}">Anno</a>
			</div>
		</div>
	</div>
	<!-- Barra di navigazione -->
	<nav class="tipologie-nav">
		<!-- Link per ogni tipologia -->
		<a th:each="tipologia : ${tipologie}" th:href="@{'/tipologia/' + ${tipologia.toLowerCase()}}" th:text="${tipologia.toLowerCase() == 'tv' ? tipologia.toUpperCase() : #strings.capitalizeWords(tipologia.toLowerCase())}">Tipologia</a>
	</nav>
	<main>
		<div class="user-div">
			<div style="display: flex; align-items: center; gap: .5rem;">
				<p th:if="${isAdmin}">Sei loggato come amministratore.</p>
				<a th:if="${isAdmin}" th:href="@{/prodotti/new}">Aggiungi nuovo prodotto</a>
			</div>
		</div>
		<!-- Blocchi con le tipologie -->
		<div class="tipologie-container">
			<div th:each="tipologia : ${tipologie}" class="tipologia-blocco">
				<a th:href="@{'/tipologia/' + ${tipologia.toLowerCase()}}">
					<img th:src="@{'/img/default-' + ${tipologia.toLowerCase()} + '.jpg'}" th:alt="${tipologia.toLowerCase()}" class="tipologia-immagine"/>
					<p th:text="${tipologia}">Nome tipologia</p>
				</a>
			</div>
		</div>
	</main>
	<footer>
		<p>&copy; 2025 Catalogo Prodotti</p>
		<p>Progetto assegnato dal docente per il corso di Sistemi Informativi su Web - appello di settembre</p>
		<p>Realizzato da <strong>Luca Monaco</strong> | <a href="mailto:luca.monaco04@icloud.com">Contattami</a> | <a href="https://github.com/lumon2004/catalogo-prodotti" target="_blank">GitHub</a></p>
	</footer>
</body>
</html>