<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrazione</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <header><h1>Catalogo Prodotti</h1></header>
    <main>
        <!-- Form di registrazione di un nuovo utente -->
        <form th:action="@{/utenti}" th:object="${utente}" method="post">
            <h2>Crea il tuo nuovo account</h2>
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <input type="text" th:field="*{username}" required placeholder="Username"/><br/>
            <input type="email" th:field="*{email}" required placeholder="Email"/><br/>
            <input type="password" th:field="*{password}" required placeholder="Password"/><br/>
            <button type="submit">Registrati</button>
        </form>
        <p>Hai già un account? <a th:href="@{/login}">Accedi qui</a></p>
    </main>
    <footer>
        <p>&copy; 2025 Catalogo Prodotti</p>
        <p>Progetto assegnato dal docente per il corso di Sistemi Informativi su Web - appello di settembre</p>
        <p>Realizzato da <strong>Luca Monaco</strong> | <a href="mailto:luca.monaco04@icloud.com">Contattami</a> | <a href="https://github.com/lumon2004/catalogo-prodotti" target="_blank">GitHub</a></p>
    </footer>
</body>
</html>