<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Aggiungi nuovo prodotto</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="/css/nuovoProdotto.css">
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" rel="stylesheet"/>
</head>
<body>
	<header><h1><a href="/home">Catalogo Prodotti</a></h1></header>
	<main>
		<!-- Form di creazione di un nuovo prodotto -->
		<div class="container">
			<h2>Aggiungi un nuovo prodotto</h2>

            <!-- Errori -->
            <div th:if="${error == 'duplicate'}"  class="alert alert-danger">
                <p>⚠️ Esiste già un prodotto con questo nome. Inserisci un nome diverso.</p>
            </div>
            <div th:if="${errorMessage}" class="alert alert-danger">
                <p th:text="${errorMessage}"></p> <!-- Messaggio di errore generico (dimensione upload) -->
            </div>

			<form th:action="@{/prodotti/new}" method="post" th:object="${prodotto}" enctype="multipart/form-data">
				<label for="title">Inserisci il nome del prodotto:</label><br/>
				<input type="text" id="title" th:field="*{nome}" required placeholder="Nome"/><br/>

				<label for="description">Inserisci una descrizione: (facoltativo)</label><br/>
				<textarea id="description" th:field="*{descrizione}" placeholder="Descrizione"></textarea><br/>

				<label for="price">Inserisci il prezzo del prodotto:</label><br/>
				<input type="number" id="price" th:field="*{prezzo}" step="0.01" min="0" required placeholder="Prezzo"/><br/>

                <label for="brand">Inserisci la marca del prodotto:</label><br/>
                <input type="text" id="brand" th:field="*{marca}" required placeholder="Marca"/><br/>

                <label for="year">Inserisci l'anno di rilascio del prodotto:</label><br/>
                <input type="number" id="year" th:field="*{anno}" required placeholder="Anno di rilascio" min="1970" max="2025"/><br/>

				<label for="imagePath">Aggiungi un immagine per il prodotto:</label><br/>
				<div class="image-selector">
                    <input type="hidden" th:field="*{imagePath}"/>
                    <label for="customImage" style="width: 70%">
                        <input type="file" id="customImage" name="customImage" accept="image/*">
                    </label>
                    <span class="material-symbols-rounded">info</span>
                    <div class="tooltip">Si consiglia un aspect ratio di 1:1.</div>
				</div><br/>

				<label for="tipologia">Seleziona una tipologia:</label>
                <select id="tipologia" th:field="*{tipologia}" required>
                    <option value="" disabled selected>Seleziona una tipologia</option>
                    <option th:each="tipo : ${tipologie}" th:value="${tipo}" th:text="${tipo.charAt(0) + tipo.substring(1).toLowerCase()}">
                    </option>
                </select><br/>
		
				<button type="submit">Crea</button>
			</form>
		</div>
	</main>
	<footer>
		<p>&copy; 2025 Catalogo Prodotti - Progetto per Sistemi Informativi su Web</p>
		<p>Realizzato da Luca Monaco | <a href="mailto:luca.monaco04@icloud.com">Contattami</a> | <a href="https://github.com/lumon2004/catalogo-prodotti" target="_blank">GitHub</a></p>
	</footer>
</body>
</html>